In [1]:
import pandas as pd
import numpy as np

In [7]:
df0_Stock_idx = pd.read_csv('market_index_data_version1.csv')
df1_gov_spend = pd.read_csv('historical-gov-spending-gdp.csv')
df2_mil_spend = pd.read_csv('military-expenditure-share-gdp.csv')
df3_edu_spend = pd.read_csv('total-government-expenditure-on-education-gdp.csv')
df4_urbanization = pd.read_csv('urban-and-rural-population.csv')
df5_adopting_tech = pd.read_csv('ict-adoption-per-100-people.csv')
df6_gdp_per_capita = pd.read_csv('gdp-per-capita-penn-world-table.csv')
df7_tex_revnue = pd.read_csv('tax-revenue-national-income-longrun.csv')

In [21]:
#Clean Data to focus only on the United States...
desired_country = 'United States'  
df1_gov_spend = df1_gov_spend[df1_gov_spend['Entity'] == desired_country]
df2_mil_spend = df2_mil_spend[df2_mil_spend['Entity'] == desired_country]
df3_edu_spend = df3_edu_spend[df3_edu_spend['Entity'] == desired_country]
df4_urbanization = df4_urbanization[df4_urbanization['Entity'] == desired_country]
df5_adopting_tech = df5_adopting_tech[df5_adopting_tech['Entity'] == desired_country]
df6_gdp_per_capita = df6_gdp_per_capita[df6_gdp_per_capita['Entity'] == desired_country]
df7_tax_revnue = df7_tex_revnue[df7_tex_revnue['Entity'] == desired_country]

In [22]:
#Check the time frame of each data set
df1_gov_spend
# 1880 - 2011
df2_mil_spend
#1949 - 2020
df3_edu_spend
#1960 - 2020
df4_urbanization
#1960 - 2021
df5_adopting_tech
#1960 - 2021
df6_gdp_per_capita
#1950 - 2019
df7_tax_revnue
#1902 - 2008

            Entity Code  Year  Tax Revenue (Piketty (2014))
261  United States  USA  1902                          5.61
262  United States  USA  1903                          5.52
263  United States  USA  1904                          5.70
264  United States  USA  1905                          5.31
265  United States  USA  1906                          5.26
..             ...  ...   ...                           ...
363  United States  USA  2004                         24.93
364  United States  USA  2005                         26.40
365  United States  USA  2006                         27.46
366  United States  USA  2007                         28.02
367  United States  USA  2008                         27.51

[107 rows x 4 columns]

In [ ]:
# Merge the dataset on year..
merged_df = pd.merge